{% extends "base_generic.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Rich text editor example</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="https://digabi.github.io/mathquill/build/mathquill.css">
  <link rel="stylesheet" type="text/css" href="{% static 'abit/rich-text-editor.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'abit/style.css' %}"/>
  <script type="text/javascript" src="{% static 'abit/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'abit/site/baconjs/dist/Bacon.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'abit/site/mathquill/build/mathquill.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'abit/site/mathjax/MathJax.js' %}"></script>
  <script type="text/javascript" src="{% static 'abit/proto/rich-text-editor-bundle-generated.js' %}"></script>
  </script>
  <style>
    body { margin-top: 50px; font-family: sans-serif;}
    h1 {font-size: 2em;}
    .answer { border: 1px solid #aaa; padding: 5px; box-sizing: content-box; width: 100%; min-height: 100px; font: 17px "Times New Roman"; }
    .rich-text-editor img[src^="data:image/svg+xml"] { vertical-align: middle; margin: 4px; padding: 3px 10px; cursor: pointer; border: 1px solid transparent; }
    .rich-text-editor.rich-text-focused img[src^="data:image/svg+xml"],
    .rich-text-editor:focus img[src^="data:image/svg+xml"] { background: #EDF9FF; border: 1px solid #E6F2F8; }
    .rich-text-editor img[src*="data:image/png"] { margin: 4px; }
    .rich-text-editor:focus img[src*="data:image/png"],
    .rich-text-editor.rich-text-focused img[src*="data:image/png"] { box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2); }
    .result { display: none; }
    #export {
      float: right;
      margin-right: 3vw;
      position: relative;
      top: 50%;

      transform: translateY(-50%);
      background: #4C5F48;
      padding: 1vh 2vw;

      display: inline-flex;
      text-align: right;

      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

      width: 45vw;
    }
    #input {
      float: left;
      margin-right: 3vw;
      position: relative;
      top: 50%;

      transform: translateY(-50%);
      background: #4C5F48;
      padding: 1vh 2vw;

      display: inline-flex;
      text-align: center;

      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

      width: 45vw;
    }
    #options {
      margin-top: 4%;
      position: relative;
    }
  </style>
</head>
<body>
  <div id="math_container">
    
      <article>
    <section>
      <h1>Rich Text Editor</h1>

      <h2>Answer</h2>
      <div class="answer" id="answer1"></div>
    </section>
  </article>
  <div id='options'>
    <div><input  type="file" id="input"></div>
    <div><a download="math-demo-answer.html" id="export" href="javascript:void(0)">Export</a></div>
  </div>
  
  <div class="result">\({}\)</div>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-49446143-7', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/SVG"],
      extensions: ["toMathML.js", "tex2jax.js", "MathMenu.js", "MathZoom.js", "fast-preview.js", "AssistiveMML.js", "a11y/accessibility-menu.js"],
      TeX: {
        extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js", "mhchem.js"]
      },
      SVG: {useFontCache: true, useGlobalCache: false, EqnChunk: 1000000, EqnDelay: 0, font: 'STIX-Web'}
    })
    const answer = document.querySelector('#answer1')
    makeRichText(answer, {
      screenshot: {
        saver: ({data}) =>
          new Promise(resolve => {
            const reader = new FileReader()
            reader.onload = evt => resolve(evt.target.result)
            reader.readAsDataURL(data)
          }),
        limit: 10
      },
      baseUrl: 'https://math-demo.abitti.fi',
      updateMathImg: ($img, latex) => {
        updateMath(latex, svg => {
          $img.prop({
            src: svg,
            alt: latex
          })
          $img.closest('[data-js="answer"]').trigger('input')
        })
      }
    })
    let math = null
    MathJax.Hub.queue.Push(() => {
      math = MathJax.Hub.getAllJax('MathOutput')[0]
    })
    const updateMath = function (latex, cb) {
      MathJax.Hub.queue.Push(['Text', math, '\\displaystyle{' + latex + '}'])
      MathJax.Hub.Queue(() => {
        if ($('.result svg').length) {
          const $svg = $('.result svg').attr('xmlns', "http://www.w3.org/2000/svg")
          $svg.find('use').each(function () {
            const $use = $(this)
            if ($use[0].outerHTML.indexOf('xmlns:xlink') === -1) {
              $use.attr('xmlns:xlink', 'http://www.w3.org/1999/xlink') //add these for safari
            }
          })
          let svgHtml = $svg.prop('outerHTML')
          //firefox fix
          svgHtml = svgHtml.replace(' xlink=', ' xmlns:xlink=')
          // Safari xlink ns issue fix
          svgHtml = svgHtml.replace(/ ns\d+:href/gi, ' xlink:href')
          cb('data:image/svg+xml;base64,' + window.btoa(svgHtml))
        } else {
          cb('data:image/svg+xml;base64,' + window.btoa(`<?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <svg width="17px" height="15px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Group 2</title>
      <defs></defs>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-241.000000, -219.000000)">
              <g transform="translate(209.000000, 207.000000)">
                  <rect x="-1.58632797e-14" y="0" width="80" height="40"></rect>
                  <g transform="translate(32.000000, 12.000000)">
                      <polygon id="Combined-Shape" fill="#9B0000" fill-rule="nonzero" points="0 15 8.04006 0 16.08012 15"></polygon>
                      <polygon id="Combined-Shape-path" fill="#FFFFFF" points="7 11 9 11 9 13 7 13"></polygon>
                      <polygon id="Combined-Shape-path" fill="#FFFFFF" points="7 5 9 5 9 10 7 10"></polygon>
                  </g>
              </g>
          </g>
      </g>
  </svg>`))
        }
      })
    }
    let studentDisplay = null
    MathJax.Hub.Queue(function () {
      studentDisplay = MathJax.Hub.getAllJax(document.querySelector('.result'))[0];
    })
    const trackError = (e = {}) => {
      const category = 'JavaScript error'
      const action = e.message
      const label = e.filename + ':' + e.lineno
      ga('send', 'event', category, action, label)
    }
    if (window.addEventListener) {
      window.addEventListener('error', trackError, false)
    } else if (window.attachEvent) {
      window.attachEvent('onerror', trackError)
    } else {
      window.onerror = trackError
    }
  //    <input  type="file" id="input">
    const reader = new FileReader()
    reader.onload = x => $('.answer').html(x.target.result)
    document.getElementById("input").addEventListener("change", handleFiles, false)
    function handleFiles() {
      ga('send', 'event', 'mathEditor', 'import')
      const file = this.files[0]
      reader.readAsText(file)
    }
    $('#export').click(e => {
      ga('send', 'event', 'mathEditor', 'export')
      const link = 'data:text/html;base64,'+btoa($('.answer').html())
      $(e.target)
        .attr('href', link)
        .attr('download', 'math-demo-answer-' + new Date().toISOString().split('.')[0] + '.html')
    })
  </script>
  {% endblock %}
  </div>

</body>
</html>