<!doctype html>
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<title>LEKS</title>
</head>
<body>
	<section class="container">

		<div class="header">
			<img id="logo" src="{% static 'posts/images/logo_with_text_blue.png' %}">
		</div>

		<div id="submit-container">
			<a id="submit" href="/posts/new">Submit New Post!</a>
		</div>
		<div id="posts-list" class="main">
			{% if latest_submission_list %}
		    <ul class="no-bullets">
		    {% for submission in latest_submission_list %}
		        <li><a href="/posts/{{ submission.id }}/">{{ submission.submission_title }}</a></li>
		    {% endfor %}
		    </ul>
			{% else %}
			    <p>No submissions are available.</p>
			{% endif %}
		</div>

		<div id="topics-list">
			
		</div>
		
		<div class="footer">LEKSapp</div>

	</section>
	
	<script>
      document.addEventListener('DOMContentLoaded', function() {
        
      });
    </script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="{% static 'posts/jquery-3.3.1.min.js' %}"></script>
</body>
</html>
